[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
peewee = "*"
flask = "*"
faker = "*"
awesome-slugify = "*"
flask-login = "*"
flask-wtf = "*"
jinja = "*"
requests = "*"
feedparser = "*"
os = "*"
flash = "*"

[requires]
python_version = "3.7"
