

<!DOCTYPE html>
{% extends "dashboard.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="container conteneur">
    <div class="row">
        <div class="col-sm">
            <h2 class="">Ajouter un flux</h2>
        </div>
    </div>
</div>
<form method="POST">
    <div class="container">
        {% for field in form %}
            <div class="form-group">
                    {% if field.widget.input_type != 'hidden' %}
                        <div class="row">
                            <div class="col-sm">
                                {{ field.label(class_="form-label") }}
                            </div>
                        </div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <div class="row">
                        <div class="col-sm"> {{ field(class_="form-control") }} </div>
                    </div>
                </div>
        {% endfor %}
        <button type="submit" class="btn btn-light mx-auto">Ajouter ce flux</button>
    </div>
</form>

{% endblock %}